.jumbotronnya{
    background-image: url('asset/DPS.jpg');
    background-size: 100% 105%;
    background-position: center;
    margin-bottom: 10 px;
    background-attachment: fixed;
}
.jumbotron{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background: rgba(120, 120, 120, 0.7);
    color: white;
}
.col-4{
    border-radius:25px;
    padding: 5px;
    float: left;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 10px;
}
.bd-danger{
    border-radius:25px;
    padding: 8px;
    margin: 18px;
    max-width: 400px;
    float: left;
    box-shadow: 10px 10px 5px grey;
}
.bd-light{
    border-radius:25px;
    padding: 8px;
    margin: 18px;
    width: 800px;
    float: left;
    box-shadow: 10px 10px 5px grey;
}